mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  mat-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  mat-dialog-actions {
    padding: 8px;
  }
  